#texo,#cola{
    width: 400px;
    height: 200px;
    border: transparent;
    background-color: rgba(0, 0, 0, 0.588);
    display: flex;
    text-align: justify;
    padding: 10px;
    color: white;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    gap: 20px;
}
#cola{
    background-color: rgba(12, 75, 75, 0.577);
}
button{
    width: 200px;
    height: 30px;
    font-size: 12pt;
    background-color: rgba(27, 194, 27, 0.673);
    border: transparent;
    color: white;
    transition: all ease .3s;
    cursor: pointer;
}
button:active{
    transform: translateY(5px);
}